<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChapterCheese</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="header">
        <a href="/">
            Main Page
        </a>
        <a href="/reserve">Reserve Book</a>
        <a href="/reservations">Active Reservations</a>
    </div>
    <div class="contentRow">
        <div class="ratCage">
            <img src="{{ url_for('static',filename='rat.png') }}">
        </div>
        <div class="intro">
            <h1>Chapter Cheese</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut bibendum magna. Suspendisse potenti. Sed dictum enim vestibulum purus convallis gravida. Quisque sed mi eleifend, pulvinar quam sed, aliquam orci. Vivamus orci lectus, lacinia eu congue sit amet, maximus vel dui. Praesent tempor mollis tellus ac consequat. Fusce vulputate massa non tempor consectetur. Nulla maximus hendrerit ligula. Fusce ipsum risus, convallis id laoreet non, pulvinar at nibh. Vestibulum dapibus lacus nec mollis condimentum. Pellentesque pellentesque sed lectus vitae laoreet. Sed vitae urna pulvinar, vestibulum nisl nec, lacinia magna.

Suspendisse fermentum consectetur diam, at eleifend dolor posuere quis. Etiam euismod mollis nibh, in scelerisque lacus suscipit a. Duis vitae nisl ac nibh laoreet vestibulum sed ut diam. In pulvinar sapien non dui feugiat, et dignissim magna fermentum. Cras et urna id purus efficitur hendrerit non vitae nisl. Nulla aliquam risus hendrerit dui iaculis, a tempor dolor sollicitudin. Suspendisse orci nisl, efficitur id lacinia sed, aliquet non justo. Pellentesque et suscipit lacus, eu pharetra libero.

Phasellus hendrerit nunc eu nisl varius, eget pellentesque massa commodo. Duis mattis, sem sed bibendum pellentesque, enim ante aliquet arcu, sit amet ultricies lacus arcu sed lacus. Sed vitae ipsum vitae arcu mollis vehicula. Curabitur non enim et diam lacinia fermentum nec at risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ultricies dolor ultrices felis tempor, sit amet commodo odio imperdiet. Cras metus nulla, dapibus at efficitur ac, elementum a metus. Nunc molestie congue massa, egestas eleifend velit ultrices quis. Ut at elit in nunc facilisis lobortis quis nec magna. Vivamus congue elit in mauris elementum pretium.

Phasellus vel sem vel ante egestas tincidunt. Duis eleifend lacus dui, mattis maximus augue bibendum nec. Duis vitae dui ut turpis interdum maximus eu id nisi. Pellentesque blandit odio ex, sit amet sagittis nisi consequat et. Integer quis nisi non erat maximus eleifend nec in nunc. Nullam vitae consequat diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eu mauris lectus. Donec tempor nibh diam, eget scelerisque tellus malesuada at. In eget metus tortor. Suspendisse eu nisl ut nulla dapibus blandit. Ut lobortis est metus, at suscipit massa tempor non.

Sed volutpat ante et libero mattis facilisis. Quisque molestie odio felis, eget eleifend odio posuere nec. Aliquam quis tempus metus. Fusce efficitur bibendum nibh nec accumsan. Donec vel libero mauris. Aliquam at turpis lacinia, sodales tellus at, molestie nunc. Aliquam eu odio et nisi luctus dignissim eu vel ex. Praesent at tristique lectus, quis rhoncus lectus. Curabitur efficitur sem ut nisi sollicitudin, et dapibus ipsum aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed pulvinar augue nec mi sodales sollicitudin. Nullam vulputate scelerisque sapien a dignissim. Nunc dignissim ante sed placerat porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut fermentum sapien eleifend justo semper convallis.
            </p>
        </div>
    </div>
    <div class="footer">
        <a href="legal.html">
            Tmp
        </a>
        <p>
            Feet
        </p>
    </div>
</body>
</html>