<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Book</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="../scripts/themeScript.js"></script>
</head>
<body>
    <div id="header" class="header">
        <a href="/">
            Main Page
        </a>
        <a href="/reserve">Reserve Book</a>
        <a href="/reservations">Active Reservations</a>
        <div class="push"></div>
        <button id="dark-mode-toggle">Dark Mode</button>
    </div>
    <div id="contentCol" class="contentCol">
        <ul id="reserveList" class="reserveList outset">
            {{ books | safe }}
        </ul>
        <form id="reserve" class="reserve outset" action="./makeReserve" method="get">
            <label for="fName">First Name</label>
            <input type="text" name="fName" id="fName">
            <label for="lName">Last Name</label>
            <input type="text" name="lName" id="lName">
            <label for="bookTitle">Book</label>
            <select name="bookTitle" id="bookTitle">
                {{ available | safe }}
            </select>
            <input type="submit" value="Reserve">
        </form>
    </div>
    <div id="footer" class="footer">
        <a href="legal.html">
            Tmp
        </a>
        <p>
            Feet
        </p>
    </div>
    <script src="../static/styles/themeScript.js"></script>
    <script>

        const toggleButton = document.getElementById('dark-mode-toggle');
        const body = document.body;
        initiateTheme();
        toggleButton.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            if (body.classList.contains('dark-mode')) {
                toggleButton.textContent = 'Light Mode';
                swtichToDarkMode_reserve();
            } else {
                toggleButton.textContent = 'Dark Mode';
                switchToLightMode_reserve();
            }
        });
    </script>
</body>
</html>
