<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="header">
        <a href="./index.html">
            Main Page
        </a>
        <a href="./reserve.html">Reserve Book</a>
        <a href="./reservations.html">Active Reservations</a>
    </div>
    <div class="contentCol">
        <ul class="reservedList outset">
            <li>
                <div class="liTitle">
                    Title: 
                </div>
                <div>
                    Art of War
                </div>
                <div class="vl push"></div>
                <div>
                    Reserved By: 
                </div>
                <div class="nSize">
                    Bill Stickers
                </div>
            </li>
            <li>
                <div class="liTitle">
                    Title: 
                </div>
                <div>
                    The King in Yellow
                </div>
                <div class="vl push"></div>
                <div>
                    Reserved By: 
                </div>
                <div class="nSize">
                    Bill Stickers
                </div>
            </li>
            <li>
                <div class="liTitle">
                    Title: 
                </div>
                <div>
                    It
                </div>
                <div class="vl push"></div>
                <div>
                    Reserved By: 
                </div>
                <div class="nSize">
                    Bill Stickers
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
        <a href="legal.html">
            Tmp
        </a>
        <p>
            Feet
        </p>
    </div>
</body>
</html>